body {
    font-weight: lighter;
}

#weatherStats {
    background-color: #94b95c;
    margin-top: 25px;
    border-radius: 10px;
    padding-left: 41px;
    color: #494949;
    box-shadow: 5px 10px 5px;
    padding-top: 1px;
}

#fiveDayForecast {
    margin-top: 15px;
    height: inherit;
    width: 100%;
}

#weatherBoxes {
    background-color: #242222;
    text-align: center;
    height: auto;
    border-radius: 10px;
    border: 2px solid #dadada;
    padding-top: 10px;
    color: white;
    font-size: 14px;
    padding-bottom: 15px;
    box-shadow: 5px 10px 5px #dadada;
}

.footer {
    background-color: #3f3f46;
    margin-top: 15px;
    text-align: center;
    height: 100px;
}

.weatherTemp {
    margin-top: 10px;
}


